body {
  font-family: 'Poppins', sans-serif;
  background: #f8f9fc;
  margin: 0;
}

/* NAVBAR */
.custom-nav {
  background: linear-gradient(90deg, #4b6cb7, #182848);
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1");
  background-size: cover;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.2rem;
}

/* SECTION */
.section-title {
  font-weight: 600;
  margin-bottom: 20px;
}

/* CARDS */
.card {
  border: none;
  border-radius: 15px;
  transition: 0.3s;
  background: white;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card h5 {
  font-weight: 600;
}

/* BUTTON */
.btn-primary {
  background: #4b6cb7;
  border: none;
}

.btn-primary:hover {
  background: #182848;
}